name: Sample-api Image Test Build and Push

on:
  push:
    branches:
      - main
      - feature/qa-02
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: docker compose --profile test up -d
        
  sample-api-image-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
        
    - name: Set up QEMU for multi-platform builds
      uses: docker/setup-qemu-action@v3
      with:
        platforms: amd64,arm64

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: Dockerfile
        push: true
        tags: ghcr.io/${{ github.repository }}/sample-api:latest
        platforms: linux/amd64,linux/arm64
        
    - name: Run test
      run: |
        docker run --rm ghcr.io/${{ github.repository }}/sample-api:latest bash -c ./run-unit-tests.sh
        
    - name: Log out from GitHub Container Registry
      run: docker logout ghcr.io
